@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    appearance: none;
    border: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-family: Michroma, sans-serif;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 1.8rem;
    font-family: Michroma, sans-serif;
    font-weight: 600;
    color: whitesmoke;
}

img {
    width: 100px;
    height: auto;
}

.opaco {
    opacity: 0.7;
}

body {
    background: url(background.jpeg) no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

.title {
    padding: 30px;
    text-align: center;
}

.title h1 {
    font-size: 3rem;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#container .user {
    background: blue;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#container .user .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .user .user-escolha ul {
    display: flex;
    justify-content: space-around;
}

#container .computador {
    background: red;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#container .computador .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .computador .escolha-computador ul {
    display: flex;
    justify-content: space-around;
}

.mensagem {
    background: whitesmoke;
    margin-top: 10px;
    padding: 10px;
}

.mensagem h2 {
    color: black;
    text-align: center;
    font-family: Michroma, sans-serif;
}

/* ====== Media Queries ========== */
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.6rem;
    }
    
    img {
        width: 80px;
        height: auto;
    } 
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 1.6rem;
    }
    
    h2 {
        font-size: 1.4rem;
    }
    
    img {
        width: 60px;
        height: auto;
    } 

    body {
        height: auto;
    }

    #container {
        display: flex;
        flex-direction: column;
    }
} 


@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.4rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    img {
        width: 60px;
        height: auto;
    } 

    body {
        height: auto;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    #container .user {
        padding: 30px;
    }

    #container .vs {
        padding: 0;
    }

    #container .computador {
        padding: 30px;
    }
} 